html {
  font-size: 15px;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  height: 100%;
}

/* 
        .portfolio {
        width: 300px;
        } */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header starts */

.navigation {
  width: 100%;
  background-color: #000;
  padding: 0 20px;
}

.navbar {
  color: #fff;
  background-color: #202020;
  position: relative;
  top: 20px;
  border-left: 7px solid #368cb5;
  height: 72px;
}

.logo {
  width: 12rem;
  padding: 10px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 25px 20px;
}

.light {
  background-color: #333333;
}

.toggle {
  font-size: 30px;
  height: 40px;
  /* margin: 12px 20px 0 0; */
  color: #fff;
  background-color: #368cb5;
  outline: none;
  border: none;
  padding: 0 8px;
  padding-top: none;
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(../img/home-bg.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-text {
  padding-top: 240px;
  padding-right: 0%;
  text-align: left;
  color: #fff;
}

.banner-text h1 {
  font-size: 2.5rem;
}

.space {
  margin-left: 18px;
}

/* header ends header  */

/* full quots starts */

.full-quote {
  width: 100%;
  background-color: black;
  padding: 0px 20px;
}

/* Three section  */

.three-section {
  position: relative;
  top: -50px;
}

.three-box {
  width: 31%;
  background-color: #d54ab6;
  text-align: center;
  padding: 4% 1%;
  color: #fff;
}

.orange {
  background-color: #c14000;
}
.green {
  background-color: #009987;
}
.yellow {
  background-color: #fea501;
}

.it {
  font-size: 35px;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 23px;
}

.it1 {
  padding: 23px 34px;
}

.three-box h2 {
  font-size: 2.1rem;
  padding: 15px 0;
  letter-spacing: 1px;
}

/* Three section ends here  */

.two-section {
  background-color: #191919;
  color: #fff;
  margin-top: 50px;
}

.two-box {
  width: 50%;
}

.lap-man {
  width: 100%;
}
.right {
  padding: 2%;
}

.two-box h2 {
  font-size: 2.2rem;
  padding-top: 20px;
}

.two-box p {
  padding: 20px 0 50px 0;
  color: #808080;
}

.btn {
  width: 135px;
  height: 45px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
}

/* Two section end here  */

/* Emage section starts  */

.image-section {
  padding: 85px 0 70px 0;
  text-align: center;
}

.text {
  text-align: center;
  padding: 0 150px;
  color: #fff;
}

.image-box {
  opacity: 0.8;
}

.text h2 {
  font-size: 2.2rem;
}

.text p {
  color: #808080;
  padding: 20px 0 40px 0;
}

.three-image {
  width: 33.3%;
}

.portfolio {
  width: 100%;
}

.four-image {
  width: 25%;
}

.portfolio2 {
  width: 100%;
}

.btn2 {
  margin-top: 30px;
  width: 115px;
  height: 50px;
}

/* Emage section ends  */
/* Fullquot ends */

/* Fullquot1  starts */

.full-quote1 {
  background-color: #1c1c1c;
  padding: 50px 20px;
}

.footer-box {
  width: 35%;
  color: #808080;
}

.contact {
  font-size: 1.1rem;
}

.footer1 p {
  padding-top: 20px;
}
.footer2 p {
  padding-top: 15px;
}
.footer3 p {
  padding-top: 20px 0;
}

.footer-box h2 {
  color: #fff;
}

.footer1 {
  width: 40%;
}
.footer2 {
  width: 25%;
  padding-left: 20px;
}

.footer3 {
  width: 35%;
}

.name {
  width: 75%;
  height: 40px;
  display: block;
  background-color: transparent;
  border: 2px solid #fff;
  margin-bottom: 10px;
}

::placeholder {
  color: #fff;
  font-weight: 700;
  padding-left: 20px;
}

.footer-icon {
  padding: 10px 0px;
}

.copyright {
  width: 50%;
  color: #808080;
  padding-top: 10px;
}

.text {
  padding: 0;
}

.name {
  width: 280px;
}

.social-icon {
  font-size: 32px;
  /* width:50%; */
}

.social {
  padding: 8px 12px;
  font-size: 20px;
  background-color: #303030;
}

/* media query starts  */

@media only screen and (max-width: 850px) {
  .orange,
  .green {
    width: 48%;
  }
  .yellow {
    width: 100%;
    margin-top: 20px;
  }

  .two-box {
    width: 100%;
  }

  .four-image {
    width: 50%;
  }

  .footer-icon {
    padding: 20px 20px;
  }
}

@media only screen and (max-width: 768px) {
  .toggle {
    display: block;
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar ul {
    display: none;
    padding-right: 60px;
  }
  .three-image {
    width: 50%;
  }
  .four-image1 {
    width: 100%;
  }

  .footer-box {
    width: 100%;
  }

  .footer2 {
    padding: 50px 0;
  }

  .copyright,
  .social-icon {
    width: 100%;
    padding: 10px 0;
  }
  .text {
    padding: 0;
  }
  .name {
    width: 280px;
  }
}

@media only screen and (max-width: 600px) {
  .banner-text {
    text-align: center;
    padding-top: 100px;
    padding-right: 0;
  }

  .space {
    margin: 0;
  }

  .three-box {
    width: 100%;
    margin: 10px 0;
  }

  .two-box {
    text-align: center;
  }

  .two-box p {
    text-align: justify;
  }

  .footer-icon {
    padding: 0;
  }

  .social {
    padding: 10px 12px;
  }
}

@media only screen and (max-width: 422px) {
  .navbar ul {
    padding-right: 0;
  }

  li {
    padding: 15px 13px;
  }

  .navbar {
    padding: 10px;
  }

  .toggle {
    top: 0px;
  }

  .toggle {
    font-size: 32px;
    height: 36px;
  }
}
